---
title: Facebook Timeline
---

<!-- Hi Vulcun!  I hope this demo is along the lines of what you were looking for.  
Feel free to take a look through my portfolio (linked below)and shoot me an email with any questions! -->


<!-- ...and if you wan't to take a break later... 
http://www.reddit.com/r/AskReddit/comments/1kvhmz/whats_the_best_programming_joke_that_you_know/ -->

<ol class="timeline clearfix">
  <li class="left">
    <div class="unit">
      <ol class="actions">
        <li class="active"><a href="#" rel="Status"><i class="icon icon-status"></i>Update Status</a></li>
        <li><a href="#"><i class="icon icon-photo"></i>Add Photos/Video</a></li>
      </ol>
      
      <!-- Units -->
      <div class="actionUnits">
        <div class="formUnit" id="Status">
          <i class="active"></i>
          <textarea name="" placeholder="What's on your mind?" id="" cols="30" rows="3"></textarea>
          
          <ol class="controls clearfix">
            <li class="post">
              <button class="uibutton confirm" type="submit">Post</button>
            </li>
            <li class="post">
              <button class="uibutton">Friends</button>
            </li>
          </ol>

        </div>
      </div>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="left">
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
        <i class="fa fa-caret-up fa-2x"></i>
        <i class="fa fa-caret-down fa-2x"></i>
        <div class="imageUnit">
          <a href="#"><img src="images/me.jpg" width="32" height="32" alt=""></a>
          <div class="imageUnit-content">
            <h4><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#es_th=1&q=jonathan%20katz" target="_blank">Jonathan</a></h4>
            <p>2 hours ago via Twitter</p>
          </div>
                
        </div>
      
        <p> Facebook Timeline HTML/CSS Demo</p>
      
      </div>
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">Share</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="left">
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
        <i class="fa fa-caret-up fa-2x"></i>
        <i class="fa fa-caret-down fa-2x"></i>
        <div class="imageUnit">
          <a href="#"><img src="images/me.jpg" width="32" height="32" alt=""></a>
          <div class="imageUnit-content">
            <h4><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#es_th=1&q=jonathan%20katz" target="_blank">Jonathan</a></h4>
            <p>4 hours ago via Twitter</p>
          </div>
                
        </div>
      
        <p><strong>Awesome Story</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
      </div>
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">Share</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="left">
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
        <i class="fa fa-caret-up fa-2x"></i>
        <i class="fa fa-caret-down fa-2x"></i>
        <div class="imageUnit">
          <a href="#"><img src="images/me.jpg" width="32" height="32" alt=""></a>
          <div class="imageUnit-content">
            <h4><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#es_th=1&q=jonathan%20katz" target="_blank">Jonathan</a></h4>
            <p>5 hours ago via Twitter</p>
          </div>
                
        </div>
        
        <p><strong>Awesome Dog</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        
        <div class="photoUnit">
          <img src="images/molly.jpg" width="120" height="100" alt="">
        </div>
      
      </div>
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">Share</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
  
  <li class="left">
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit">
        <i class="fa fa-caret-up fa-2x"></i>
        <i class="fa fa-caret-down fa-2x"></i>
        <div class="imageUnit">
          <a href="#"><img src="images/me.jpg" width="32" height="32" alt=""></a>
          <div class="imageUnit-content">
            <h4><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#es_th=1&q=jonathan%20katz" target="_blank">Jonathan</a></h4>
            <p>5 hours ago via Twitter</p>
          </div>
                
        </div>
      
        <p><strong>Awesome Links</strong></p>
        <ul>
          <li><a href="https://vulcun.com" target="_blank">Vulcun</a></li>
          <li><a href="http://www.jakatz.com" target="_blank">Jonathan Katz</a></li>
          <li><a href="https://www.theverge.com" target="_blank">The Verge</a></li>
          <li><a href="https://www.reddit.com" target="_blank">Reddit</a></li>
          <li><a href="http://www.destructoid.com/" target="_blank">Destructoid</a></li>
        </ul>
      
      </div>
      <!-- / Story -->
      
      <!-- Units -->
      <ol class="storyActions">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">Share</a></li>
      </ol>
      <!-- / Units -->
      
    </div>
  </li>
</ol>
